<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()"
        style="display: flex; flex-direction: column; gap: 10px; width: 300px; padding: 20px;
               border: 1px solid #ccc; border-radius: 8px; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
    
  <label>
    Código:
    <input type="text" formControlName="code">
  </label>
  <br>

  <label>
    Nombre:
    <input type="text" formControlName="name">
  </label>
  <br>

  <label>
    Descripción:
    <textarea formControlName="description"></textarea>
  </label>
  <br>

  <label>
    Activo:
    <input type="checkbox" formControlName="is_active">
  </label>
  <br>

  <button type="submit" [disabled]="!productForm.valid">Crear Producto</button>
</form>
